---
import { workshops } from "@src/data/workshops";
import Layout from "@src/layouts/ContentLayout.astro";
import type { GetStaticPaths } from "astro";
import WorkshopSlotSelector from "@src/components/workshop-slot-selector.svelte";
import {
  getSelectedWorkshop,
  getRegisteredParticipantCount,
} from "@src/db/model/workshop-registration";
import { featureFlags } from "@src/data/constants";

// uncomment this if we want to query workshop from db
// export const prerender = false;

export const getStaticPaths: GetStaticPaths = () =>
  workshops.map((it) => ({
    params: { id: it.id },
  }));

const { id } = Astro.params;
const workshop = workshops.find((it) => it.id === id)!;

if (!workshop || (!import.meta.env.DEV && !featureFlags.workshopRegistration)) {
  return Astro.redirect("/404");
}

const selectedWorkshops = await getSelectedWorkshop();
const registeredParticipantCount =
  await getRegisteredParticipantCount("kimchi");
---

<Layout
  title="Workshops"
  description="เวิร์กช็อปสำหรับน้อง ๆ ที่สนใจกิจกรรมของภาควิชาต่าง ๆ"
  image="/og-image.png"
  showNavBar={true}
>
  <img
    src={workshop.image}
    alt=""
    class="object-cover w-full max-h-[50vh] rounded"
  />
  <!-- TODO: image? -->
  <div class="flex flex-col text-white mt-4">
    <span class="text-blue-300 text-xl font-serif">Workshop</span>
    <h1 class="text-4xl font-serif">{workshop.title}</h1>
    <span class="mt-2 text-blue-200 text-lg">{workshop.hostDepartment}</span>
  </div>

  <article class="mt-5 text-blue-100 text-sm">
    {workshop.description}
  </article>

  <section class="mt-8 mb-8">
    <h2 class="text-white text-2xl">รอบการทำกิจกรรม</h2>
    <p class="text-blue-300">
      กดที่เวลาเพื่อเลือก กดซ้ำเพื่อยกเลิก บางรายการอาจเลือกไม่ได้เนื่องจากติดเงื่อนไข
    </p>

    <WorkshopSlotSelector
      workshopId={workshop.id}
      initialSelectedWorkshops={selectedWorkshops}
      initialRegisterCount={registeredParticipantCount}
      client:load
      class="mt-5"
    />
  </section>
</Layout>
