---
import ContentLayout from "@src/layouts/ContentLayout.astro";
import Card from "@src/components/card.svelte";
import IsThis1 from "@src/assets/merch/isthis1.png";
import Bg from "@src/assets/merch/bg.png";
import Merch1 from "@src/assets/merch/merch1.png";
import Merch2 from "@src/assets/merch/merch2.png";
import Merch3 from "@src/assets/merch/merch3.png";
import Merch4 from "@src/assets/merch/merch4.png";
import Merch5 from "@src/assets/merch/merch5.png";
import Merch6 from "@src/assets/merch/merch6.png";
import Merch7 from "@src/assets/merch/merch7.png";
import Merch8 from "@src/assets/merch/merch8.png";
import { Image } from "astro:assets";
---

<ContentLayout>
  <Image src={IsThis1} alt="Fall in love with CU" class="w-full" />
  <Card class="text-2xl font-bold" widthMode="full">Our Merchandise</Card>
  <div class="w-full bg-repeat" style={`background-image: url(${Bg.src});`}>
    <Image
      src={Merch1}
      layout="constrained"
      alt="Our Merchandise"
      class="w-full"
    />
    <Card class="m-auto w-5/6 text-2xl font-bold">Out shirts !!</Card>
    <Image
      src={Merch2}
      layout="constrained"
      alt="Our Merchandise"
      class="w-full"
    />
    <Card class="m-auto w-5/6 text-2xl font-bold">Out stickers !!</Card>
    <Image
      src={Merch3}
      layout="constrained"
      alt="Out stickers"
      class="w-full"
    />
    <Card class="m-auto w-5/6 text-2xl font-bold">Out keychains !!</Card>
    <Image
      src={Merch4}
      layout="constrained"
      alt="Out keychains"
      class="w-full"
    />
    <Card class="m-auto w-5/6 text-2xl font-bold">Our bundle deals !!</Card>
    <Image
      src={Merch5}
      layout="constrained"
      alt="Our bundle deals"
      class="w-full"
    />
    <Card class="m-auto w-5/6 text-2xl font-bold">Our bundle deals !!</Card>
    <Image
      src={Merch6}
      layout="constrained"
      alt="Our bundle deals"
      class="w-full"
    />
    <Image
      src={Merch7}
      layout="constrained"
      alt="Our bundle deals"
      class="w-full"
    />
    <Image
      src={Merch8}
      layout="constrained"
      alt="Our bundle deals"
      class="w-full"
    />
  </div>
</ContentLayout>
