---
import MyIdHeader from "@src/assets/my-id-header.png";
import NavBar from "../components/navbar.svelte";
import QrId from "@src/components/qr-id.svelte";
import { getParticipantByUserId } from "@src/db/model/participant";
import Layout from "../layouts/ContentLayout.astro";
import { featureFlags, workshopRegistrationDate } from "@src/data/constants";
import Countdown from "@src/components/countdown.svelte";
import MyWorkshop from "@src/components/my-workshop.svelte"
import { workshopModel} from "@src/db"

const uid = Astro.locals.user?.id;
if (!uid) {
  return Astro.redirect("/");
}

const participant = await getParticipantByUserId(Astro.locals.db, uid);
if (!participant) {
  return Astro.redirect("/register");
}

const id = participant.id;
const name = participant.givenName;

const staging = Astro.locals.runtime.env.ENVIRONMENT === "staging"
const showWorkshop = staging || import.meta.env.DEV || featureFlags.workshopRegistration

const selectedWorkshops = await workshopModel.getUserRegisteredSlots(Astro.locals.db, uid);
---

<Layout
  title="หน้าหลัก"
  description="งาน Open House คณะวิทยาศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย 2566"
  image="/og-image.png"
>
  <!-- TODO: nav -->
  <NavBar class="fixed! inset-x-0! top-3 z-50" />

  <main class="text-sm relative mt-12 w-full overflow-x-clip">
    <!-- TODO: resize this -->
    <img
      src={MyIdHeader.src}
      alt="MyID Header"
      class="w-2/3 object-cover relative z-3 max-w-full sm:max-w-100 mx-auto"
    />
    <section
      id="my-id-card"
      class="bg-[#FBB84B] [transform-origin:_center_-100px] transition-transform duration-75 ease-in-out rounded-xl max-w-78 shadow-md shadow-base-100/40 mt-7 mx-auto flex flex-col"
    >
      <div>
        <div class="relative flex flex-col items-center">
          <div class="back-strap absolute bottom-7 ml-9"></div>
          <div id="yellow-fill" class="absolute top-0 bg-[#FBB84B] h-4 w-23">
          </div>
          <div class="front-strap absolute bottom-7 mr-9"></div>
          <div
            class="z-2 mx-auto h-6 my-4 w-23 bg-[#3f60b4] rounded-full inset-shadow-md shadow-inner shadow-black/50"
          >
          </div>
        </div>
        <p class="leading-5 text-center px-2 pb-1 text-amber-900/60">
          สามารถกดค้างที่ QR เพื่อบันทึกลงในอุปกรณ์ได้
        </p>
      </div>
      <div
        class="flex flex-col items-center p-10 pb-3 qr-bg shadow-sm shadow-black/20"
      >
        <div
          class="aspect-square w-48 bg-[#2b3247] border border-slate-500 rounded-md shadow-inner shadow-black/20 text-white overflow-clip"
        >
          <QrId client:only content={id ?? "not-loggedin"} />
        </div>
        <h3 class="text-xl mt-2 font-medium text-white">{name}</h3>
        <h3
          class="font-medium text-xs text-nowrap whitespace-nowrap text-slate-400"
        >
          ID: {id}
        </h3>
      </div>
      <div class="p-6">
        <!-- <button
          class="block text-center mx-auto py-2 rounded-lg w-48 bg-red-50"
        >
          แก้ไขข้อมูล
        </button> -->
      </div>
    </section>
  </main>

  
  {
    !showWorkshop ? (
    <section class="mt-8 text-sm text-blue-300/85 font-serif">
      <h2 class="text-2xl text-white">My workshops</h2>
    </section>
      <section class="mt-6 relative text-center text-md p-2 bg-neutral-100 rounded-3xl metal-bg shadow-lg shadow-black/20">
        <div class="absolute inset-2 translate-[0.3px] rounded-2xl metal-strip-2"></div>
        <div class="relative z-2 pt-2 pb-4 flex flex-col rounded-2xl metal-strip">
          <div class="p-4 space-y-2 pb-2">
            <span class="text-2xl"> 🔒 </span>
            <h3>เริ่มลงทะเบียนเวิร์กช็อปได้ในวันที่ 6 ตุลาคม เวลา 18:00 น.</h3>
            <span class="text-neutral-500 text-xs">(เลื่อนจากเวลา 09:00 น. ทีมงานขออภัยในความไม่สะดวก 🙇‍♂️)</span>
          </div>
          <Countdown
            client:load
            to={workshopRegistrationDate.getTime()}
            class="text-neutral-500 mt-2 mb-2 px-2 gap-2! md:gap-6!"
          />
        </div>
      </section>
    ) : (
      <MyWorkshop selectedWorkshops={selectedWorkshops} class="mt-6" />
    )
  }
</Layout>

<style>
  .front-strap {
    width: 2.5rem;
    height: 6rem;
    transform: rotate(-22deg);
    background-color: rgb(182, 222, 233);
  }

  .back-strap {
    width: 2.5rem;
    height: 6rem;
    transform: rotate(22deg);
    background-color: rgb(139, 171, 181);
  }

  .qr-bg {
    background: linear-gradient(
      224deg,
      #3c5baa -10.23%,
      #3c5595 33.26%,
      #3b5186 60.29%,
      #15285b 104.36%
    );
  }

  .metal-bg {
    background: linear-gradient(
      180deg,
      #d9d9d9 0%,
      #d9d9d9 11.14%,
      #b6b6b6 34.13%,
      #d9d9d9 100%
    );
  }

  .metal-strip {
    border: 2px dashed #c8c8c8;
    /* box-shadow:
      0 0 4px 0 rgba(0, 0, 0, 0.25) inset,
      0.25px 0.25px 0 0 rgba(255, 255, 255, 0.5); */
  }

  .metal-strip-2 {
    border: 2px dashed #fefefe;
    /* box-shadow:
      0 0 4px 0 rgba(0, 0, 0, 0.25) inset,
      0.25px 0.25px 0 0 rgba(255, 255, 255, 0.5); */
  }
</style>

<script>
  (() => {
    const el = document.getElementById("my-id-card");
    if (el) {
      el.addEventListener("contextmenu", (e) => {
        e.preventDefault();
        return false;
      });
    }

    const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
    if (!isMobile) return;
    window.addEventListener("deviceorientation", (event) => {
      if (!el) return;
      if (!event.gamma) return;
      el.style.transform = `rotate(${Math.min(Math.max((-1 * event.gamma) / 6, -20), 20)}deg)`;
    });
  })();
</script>
