---
import "@src/styles/global.css";
import { timingSafeEqual } from "node:crypto";
import { env } from "cloudflare:workers";
import { createHash } from "node:crypto";
import jwt from "@tsndr/cloudflare-worker-jwt";

const token = Astro.url.searchParams.get("token");
if (!token) {
  return Astro.redirect("/404");
}

let verifiedJwt = await jwt.verify<{
  readonly name: string;
  readonly teamId: string;
  readonly tier: string;
}>(token, env.RENDER_SECRET);

if (!verifiedJwt) {
  return Astro.redirect("/404");
}

const { name, teamId, tier } = verifiedJwt.payload;

const url = new URL(Astro.url);

const certTemplatePerTier: Record<string, string> = {
  ชนะเลิศ: "winner.svg",
  "รองชนะเลิศอันดับ 1": "runner-up-1.svg",
  "รองชนะเลิศอันดับ 2": "runner-up-2.svg",
  "รองชนะเลิศอันดับ 3": "runner-up-3.svg",
  "เข้ารอบ 24 ทีม": "top-24.svg",
  "เข้ารอบ 60 ทีม": "top-60.svg",
  เข้าร่วมสอบ: "participated.svg",
};

const certTextColorPerTier: Record<string, string> = {
  ชนะเลิศ: "#a47f36",
  "รองชนะเลิศอันดับ 1": "#545454",
  "รองชนะเลิศอันดับ 2": "#ae492b",
  "รองชนะเลิศอันดับ 3": "#b07676",
  "เข้ารอบ 24 ทีม": "#000000",
  "เข้ารอบ 60 ทีม": "#06173b",
  เข้าร่วมสอบ: "#06173b",
};
const certTextColor = certTextColorPerTier[tier] || "#000000";

const certTemplate = certTemplatePerTier[tier] || "participated.svg";
const certTemplateFile = `/certs/` + certTemplate + "?s=" + env.RENDER_SECRET;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>เกียรติบัตรสำหรับ {name} - Sci Chula Openhouse 2025</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="flex items-center bg-white" style="background: white;">
    <div
      id="certificate-root"
      class="relative m-auto h-full w-[210mm] overflow-hidden"
      style="font-family: 'Noto Sans Thai', sans-serif;"
    >
      <img src={certTemplateFile} class="-z-10 h-auto w-full" />
      <div
        class="absolute top-[74mm] left-[7.1cm] flex w-[15ch] -translate-y-1/2 items-center text-left text-[48px] font-bold text-black"
        style={{ color: certTextColor }}
      >
        <span id="name">
          {name}
        </span>
      </div>
      <span
        class="absolute bottom-[5mm] left-[7.1cm] text-[10px] tracking-tight text-black"
        style={{ color: certTextColor }}
      >
        รหัสทีม {teamId}
      </span>
    </div>
    <script>
      import fitty from "fitty";
      fitty("#name", {
        minSize: 10,
        maxSize: 48,
        multiLine: false,
      });
    </script>
  </body>
</html>
