---
import "@src/styles/global.css";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  theme?: string;
}

const {
  title = "Sci Chula Open House 2026",
  description = "Science Chula Open House 2026 เปิดบ้านวิดยาจุฬาฯ 2569 | 28 - 29 มีนาคม 2569",
  image = "/og-image.png",
  theme = "light",
} = Astro.props;

const user = Astro.locals.user;
const isLoggedIn = !!user;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="description" content={description} />
    <meta name="image" content={image} />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title}
    </title>
    <meta name="description" content={description} />
    <meta property="og:url" content="https://scichulaopenhouse.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="scichulaopenhouse.com" />
    <meta property="twitter:url" content="https://scichulaopenhouse.com/" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <slot name="head" />
  </head>
  <body data-theme={theme}>
    <div class="contents">
      <slot />
    </div>
  </body>
</html>
